<div class="page-header">
  <%= link_to artist_super_fans_path(@super_fan.artist), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_artist_super_fan_path(@super_fan.artist,@super_fan), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1><%= @super_fan.full_name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Artist:</dt>
  <dd><%= link_to @super_fan.artist.name,  @super_fan.artist if @super_fan.artist %></dd>
  <dt>Parole officer:</dt>
  <dd><%= @super_fan.parole_officer %></dd>
</dl>
