<div class="page-header">
  <%= link_to tracks_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_track_path(@track), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1><%= @track.title %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Seconds:</dt>
  <dd><%= @track.seconds %></dd>

  <dt>Released on:</dt>
  <dd><%= @track.released_on %></dd>

  <dt>Band:</dt>
  <dd><%= link_to @track.band.name, @track.band %></dd>

</dl>

<h3>Featured On</h3>
<ul>
  <%= render @track.albums %>
</ul>
