<%= simple_form_for(@artist) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :date_of_birth %>
    <%= f.association :super_fan %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
