<div class="page-header">
  <%= link_to artists_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_artist_path(@artist), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1><%= @artist.name %></h1>
</div>

<dl class="dl-horizontal">

  <dt>Date of birth:</dt>
  <dd><%= @artist.date_of_birth %> ( Age:&nbsp;<%= age_from_dob @artist.date_of_birth %> )</dd>


</dl>
<h3>Super Fans</h3>
<%= render @artist.super_fans %>

<h3>Current Bands</h3>
<%= render @artist.current_stints %>


<h3>Past Band Stints</h3>
<%= render @artist.past_stints %>

