<div class="page-header">
  <%= link_to albums_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_album_path(@album), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1><%= @album.title %></h1>
</div>

<dl class="dl-horizontal">

  <dt>Released on:</dt>
  <dd><%= @album.released_on %></dd>

  <dt>Total Runtime:</dt>
  <dd><%= distance_of_time_in_words( @album.total_seconds, 0, {include_seconds: true} )%></dd>

</dl>

<h3>Tracks Included</h3>
<ul>
<%= render @album.tracks %>
</ul>

<h3>Featured Bands</h3>
<ul>
<%= render @album.bands.uniq %>
</ul>