<div class="page-header">
  <%= link_to bands_path, :class => 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Back
  <% end %>
  <%= link_to edit_band_path(@band), :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Edit
  <% end %>
  <h1><%= @band.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Signed on:</dt>
  <dd><%= @band.signed_on %></dd>

  <% if @band.agent.nil? %>
      <dt>No Agent Assigned</dt>
  <% else %>
      <dt>Agent:</dt>
      <dd><%= link_to @band.agent.full_name, @band.agent %></dd>
  <% end %>

</dl>

<h3>Released Tracks</h3>
<ul>
  <%= render @band.tracks %>
</ul>

<h3>Featured On Albums</h3>
<ul>
  <%= render @band.albums.uniq %>
</ul>
