<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @band.name %>
</p>

<p>
  <strong>Signed on:</strong>
  <%= @band.signed_on %>
</p>

<p>
  <strong>Agent:</strong>
  <%= @band.agent %>
</p>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
